body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("http://www.talencia.cat/mypics/max/17/171872_star-wars-star-backgrounds.jpg");
  background-size: fill;
  padding: 10px;
}
